.show-photo {
    height: 200px;
    width: 150px;
    border: 3px solid;
    margin: 10px;
    cursor:pointer;
  
   
}

.show-card {
    display: inline;
 
    
}

.epNumber {
    text-align: center;
}