.top-show-container{
    margin-right: 50px;
    grid-row: 1;
    display: grid;
}

.top-show-title{
    grid-row: 1;
    text-align: center;
}

.top-show-picture {
    height: 300px;
    margin: auto;
    grid-row: 2;
}
