.showsbar-row:after {
    content: "";
    display: table;
    clear: both;
}

.showsbar-row {
    height: 300px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: 800px;
    display: inline-block;
    padding-left: 20px;
    margin-left: 80px;
}

.showsbar-column {
    padding: 15px;
    width: 175px;
    display: inline-block;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-button {
    width: 30px;
    position: absolute;
    margin-top: 4%;
}

.scroll-button-left {
    width: 50px;
}

.scroll-button-right {
    width: 50px;
}