.comment-section {
    margin-left: 150px;
    margin-right: 150px;
}

.comment-section-container {
    border-top: 1px solid;
}

.comment-label {
    color: crimson;
    font-size: 20px;
    margin-left: 10px;
}

.post-button {
    color: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10%;
    height: 30px;
    width: 80px;
    margin: 10px;
    background-color: green;
    border-color: green;
}

.comment-new {
    width: 80%;
}

.comment-new-container {
    width: 100%;
    margin-left: 50px;
}