.checked {
    color: gold;
}

.padding-right {
    padding-right: 10px;
}

.hover-on {
    color: purple;
}

.bar-outer {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    width: 100px;
    background-color: lightgray;
    border: 1px solid gray;
}

.bar-inner {
    background-color: gold;
    height: 15px;
}

