#episodes {
    white-space:nowrap;
    color:white;
    
}

.ep {
    background-color: rgb(14, 158, 184);
    border-color: white;
    margin:5px;
    font-size: 25px;
    padding-left:5px;
    padding-right:5px;

}


