.search-element {
    height: 50px;
    line-height: 50px;
    width: 205px;
    z-index: 10;
    background-color: white;
    border: 1px solid;
    margin: 0;
}

.search-element img {
    height: 50px;
    width: 50px;
}

.search-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
}

.search-box {
    width: 200px;
    height: 30px;
}

.search-icon {
    position: relative;
    left: -25px;
}

.search-element a {
    display: flex;
}

.search-element span {
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.search-container {
    display: inline-block;
    padding-left: 10px;
}